table {
	margin: 0 0 1.5em;
	width: 100%;
}
 

.rdt_Table {
	border:1px solid $color__table-border;
	font-size: size(13);
	color: $color__table-maintext;
	margin-bottom: 0;

	.kMXuPO {
		min-width: 99px;
	}
	
	.rdt_TableHead .rdt_TableCol {
		@extend th ;
		color: $color__table-maintext;
		border-color: $color__table-border;
		background-color: $color__tablehead-bg;
		font-size: size(13);
		line-height: 2.5;
		border-bottom: 0;
        font-weight: 600;
	}

	.rdt_TableCol {
		vertical-align: middle;
	} 

	.rdt_TableRow {
		vertical-align: middle;
		padding: 1.9rem 0;
        border-color: $color__table-border;

		ul {
			padding: 0;
			margin: 0;
			display: inline-flex;
			list-style: none;
	
			li {
				border-right: 1px solid #505050;
                line-height: 1;
                word-break: keep-all;
				a {
					padding: 0 size(8);
					
				}

				&:last-child {
					border: 0;
				}
			}
		}
	}

	.campaign, .page-name {
		font-weight: normal;
		.c-name {
			margin-bottom: 5px;
		}
		.c-date {
			font-size: size(11);
			color: $color__table-sectext;
		}
	}
	
	.status  {
		font-size: size(11);
		color: $color__table-sectext;
	} 

	a {
		font-size: size(12);
	}
}

.table-creatives, .table-reports {
    .rdt_TableRow {
        padding-top: size(15);
        padding-bottom: size(15);
    
        .campaign-media {
            align-items: center;
        
            .table-campaign-image, object {
                width: size(40);
                height: size(50);
				object-fit: contain;
				border: 1px solid #ddd;
				margin-right: 5px;
            }
        
            p {
                margin-bottom: 0;
			}
			
			a {
				span.play-icon {
					display: inline-flex;
					height: 38px;
					width: 38px;
					font-size: 15px;
					border-radius: 50%;
					margin-right: 10px;
					vertical-align: middle;
					align-items: center;
					justify-content: center;
					border: 2px solid $primary;

					i {
						transform: rotate(180deg) translateX(-2px);
					}
				}

				&:hover {
					text-decoration: none;
				}
			}
        }
    
        > div:first-child {
            min-width: 250px;
        }
    }
    .rdt_TableHeadRow > div:first-child {
        min-width: 250px;
    }
}

.table-landingpage {
    .rdt_TableRow {
        > div:first-child {
            min-width: 180px;
        }
    }
    .rdt_TableHeadRow > div:first-child {
        min-width: 180px;
    }
}

.rdt_TableHeader {
    display: none !important;
}

.iKPurz {
    justify-content: flex-start !important;
}

#pagination-first-page,
#pagination-last-page {
    display: none;
}

.iGZUwt {
    margin: 0 15px !important;
    color: $primary;
}

.jzCzGz {
    color: $primary !important;
}

.table-CampaignList .rdt_Table {
	.rdt_TableRow, .rdt_TableHeadRow {
		> div:first-child {
			min-width: 200px;
		}
	} 

	.guAIKK {
		padding-left: 0;
	}
}

.rdt_TableHeadRow .fJpndx {
    opacity: 1;
} 

