ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1.45rem 1.25rem;
	border: 1px solid $color__table-border;
	
	&.active {
		z-index: 0;
		border: 0;
		border-radius: 0;
	}
}

.creative-list {
	margin-right: -0.5rem !important;
	margin-left: -0.5rem !important;
}