.main-container {
    position: relative;
    padding-bottom: size(100);

    &.login-page-container {
        padding-bottom: 0;
    }
}

section.all-campaigns-content {
    background: $color__gray50;
    padding: 2.5rem 0 3rem;
}

.campaigns-chart {
    .nav {
        li {
            text-align: left; 
            padding: 1rem;
            flex: 1; 
            cursor: pointer;

            .number {
                font-size: size(20);
            } 
            .title {
                font-size: size(12);
                margin-bottom: size(5);
            }
            .percent {
                font-size: size(11);
                font-weight: 600;

                &.up-percent {
                    color: $color__success;
                    &:before {
                        @extend .icon-font;
                        margin-right: size(3);
                        content: "\e910";
                    }
                }
                &.down-percent {
                    color: $color__danger;
                    &:before {
                        @extend .icon-font;
                        margin-right: size(3);
                        content: '\e90a'
                    }
                }
            }
        
            &.active {
                background: $color__gray50;
                border-bottom: 2px solid $primary;
            }
        }
    }

    .chart-block {
        padding: 1.2rem;
    }
}

.campiagns-info {
    padding: size(30) size(30) size(18) size(15);
    .campiagns-info-title { 
        padding-bottom: size(20);

        h4 {
            font-size: size(12);
            text-transform: uppercase;
            margin-bottom: 4px;
        }
        p {
            font-size: size(12);
        }
    }
}

.campiagns-info-data {
    li {
        padding: size(20) 0;

        .nav-fill .nav-item {
            text-align: left;
            padding: 0;
        }  
    }

    h5 {
        font-size: size(12);
        margin-bottom: size(5);
    }

    p {
        font-size: size(13);
        margin: 0;
    }
}

.recommendation {
    .campiagns-info-data {
        padding-top: 2rem;
    }

    h5, p {
        margin-bottom: size(15);
    }
}

.filter-block, .filter-bar  {
    margin-bottom: size(15);

    .block-title {
        font-size: size(16);
        font-weight: 600;
        color: $color__text-heading;

        .btn-link {
            margin-left: size(25);
        }
    }

    .block-filter {
        display: flex;
        justify-content: flex-end;
    
        .btn-date-picker {
            margin-left: size(30);
        }
    }

    &.filter-bar {
        margin-bottom: 0;
    }
}

.top-landingpage-content {
    .card-image {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        padding-right: size(25);
        padding-top: size(25);
        padding-bottom: size(25);

        img {
            max-height: 390px;
            width: auto;
            margin: 10px auto;
        }
    }

    .page-on-phone-preview {
        position: relative;
        z-index: 0;

        object {
            height: 570px;
            width: 280px;
            position: relative;
            padding: 14px;
            background-color: #f8f8f8;
            object-fit: contain;
            display: block;
        }

        &:before {
            content: '';
            position: absolute;;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background: url(https://lh3.googleusercontent.com/-2cUWQy4FX-E/X4PWpfXwuCI/AAAAAAAADz0/I3qOh5CIw9ggQYGs1WX73RJviDcLIcZLwCK8BGAsYHg/s0/Phone.png);
            background-size: contain;
            background-repeat: no-repeat;
            pointer-events: none;
        }
    }
}

.main-content-wrapper {
    padding: size(70) 0;
}


.your-campaigns-content,
.top-creatives-content,
.top-landingpage-content,
.target-location-content {
    padding-top: size(70);
}

.campaigns-charts {
    padding-top: size(40);
}

.content-block {
    padding: size(60) 0 0;

    .content-block-title {
        font-size: size(16);
        font-weight: 600;
        padding-bottom: size(15);
        border-bottom: 1px solid $color__gray100;

        .title-with-link {
            max-width: 350px;
            margin: auto;
        }

        a {
            font-weight: 500;
            font-size: size(12);
            position: absolute;
            text-decoration: none;
            align-items: center;
            display: flex;

            i {
                margin-right: size(8);
            }
        }
    }

    .content-list {
        > li {
            padding: size(30) size(60);
            border-bottom: 1px solid $color__gray100;

            h5 {
                font-size: size(14);
                margin-bottom: size(10);
            }
            p, .campaigns-datas {
                font-size: size(13);
            }
            .campaigns-datas {
                li:not(:first-child) {
                    margin-left: size(20);
                    font-size: size(12);
                    color: $color__table-sectext;
                }
            }
        }
    }
}

.paypal-logo {
    max-width: 80px;
    margin-top: size(5);
    margin-bottom: size(10);
}

.form-wrapper {
    max-width: 350px;
    margin: 40px auto;

    .mt-5 {
        margin-top: size(40) !important;
    }

    &.editprofile-form {
        .form-group {
            margin-bottom: size(17);
        }
    }

    &.create-report-form {
        .form-group {
            margin-bottom: size(30);
        }

        .btn-primary {
            font-size: size(12);
            font-weight: bold;
            text-transform: uppercase;
            padding: .625rem 2.25rem;
            border-radius: 2px;
        }
    }
}

.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.custom-map--light {
    .leaflet-control a {
      background-color: white;
      color: black;
    }
}
