
// Colors
$darker-black: #000000;
$dark: #181818;
$dark-black: #292929;
$grayer-black: #545454;
$light-black: #353434;
$greyish-black: #3f3f3f;
$transparent-black: rgba(0, 0, 0, 0.29);
$transparent-shadow:rgba(0,0,0,.4);

$dark-grey: #747474;
$lighter-grey: #7f7f7f;
$light-grey: #cecece;
$fade-grey: #edecec;
$gray-300: #e1e1e1;
$grey: #adadad;
$grey-white: #f1f1f1;
$grey-fade-white: #f6f6f6;
$white: #ffffff;

$cyan: #1deeff;
$blue: #5488e8;

$purple: #8680ff;
$green: #00c40f;
$light-green: #2fcb87;
$red: #ff4646;
$yellow: #f1cc38;

// Responsive Breakpoints
$breakpoint-tablet: 1110px;
$breakpoint-tablet-portrait: 992px;
$breakpoint-mobile-landscape: 769px;
$breakpoint-mobile: 576px;

