$color__background-body: #fff;
$color__gray50: #fafafa;
$color__gray100: #f1f1f1;
$color__gray200: #ddd;
$color__gray800: #808080;
$color__background-pre: #eee;
$color__border-input: #d0d0d0;
$color__background-input: #fff;

$primary: #22a6de;
$color__primary100: #f5fdff;
$color__primary200: #d3eef9;
$secondary: #ddd;
$color__black: #000;
$color__white: #fff;
$color__success: #75c05d;
$color__danger: #f25c4b;
$color__background-dropdown: #f7f7f7;

$color__text-screen: #525b5f;
$color__text-input: #707070;
$color__text-heading: #252841;
$color__dark: #404040;

$color__table-border: #eaeaea;
$color__tablehead-bg: $color__gray50;
$color__table-maintext: #303030;
$color__table-sectext: #606060; 

$color__icon-carpet: #c0c0c0;

$color__text-input-focus: #111;
$color__btn-link: #4e5fe0; //royalblue
$color__link: $primary; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

